
/* Colors ******************************************/

#mastodon .compose-form {
  --mastodon-navigation-bar-link: #9baec8;
  --mastodon-icon-button-inverted: #707b97;
  --mastodon-icon-button-inverted-hover: #606984;
  --mastodon-text-icon-button-active: #2b90d9;
}

/* Button ******************************************/

.birdsite-button {
  display: inline-block;
  padding: 0 5px;
  font-size: 18px;
  line-height: 27px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--mastodon-icon-button-inverted);
}
.birdsite-button--hidden {
  display: none;
}
.birdsite-button:not(.birdsite-button--selected):hover {
  color: var(--mastodon-icon-button-inverted-hover);
}
.birdsite-button--selected {
  color: var(--mastodon-text-icon-button-active);
}

/* Status label ***********************************/

.birdsite-status {
  display: block;
  padding-top: 10px; /* align with the Publish button top  */
  line-height: 36px; /* align with the Publish button text */
  flex: 1; /* occupy all the space left empty aside the Publish button */
}
.birdsite-status--hidden {
  display: none;
}

.birdsite-status__icon {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  margin-right: 2px;
}

.birdsite-status__label {
  display: inline-block;
  color: var(--mastodon-navigation-bar-link);
}

.birdsite-status--ready .birdsite-status__text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.birdsite-status--failure .birdsite-status__icon {
  color: #f07d7d;
}
.birdsite-status--failure .birdsite-status__text{
  text-decoration: underline dotted;
  cursor: help;
}

/* Animations ***************************************/

.birdsite-status--authenticating .birdsite-status__text::after,
.birdsite-status--posting        .birdsite-status__text::after {
  content: '...';
  display: inline-block;
  margin-left: -2px;
  animation: 1.5s loading linear forwards infinite;
}

@keyframes loading {
  0% {
    content: '';
  }
  35% {
    content: '.';
  }
  50% {
    content: '..';
  }
  90% {
    content: '...';
  }
  100% {
    content: '...';
  }
}
